.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-gradient-r-purple-yellow-opacity {
  background: linear-gradient(to right, rgba(111, 45, 168, 0.70), rgba(175, 135, 5, 0.65));
}

.bg-video-r-purple-yellow-opacity {
  background: linear-gradient(to right, rgba(108, 40, 217, 0.628), rgba(111, 45, 168, 0.70), rgba(202, 139, 4, 0.477));
}

.bg-color-yellow-opacity {
  background: rgba(202, 139, 4, 0.477);
}

.text-custom-yellow-color {
  color: rgba(175, 135, 5);
}

html {
  scroll-behavior: smooth;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.breathing {
  animation: breathing 2s ease-in-out infinite;
}

